<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Unpuffd</title>
    <link rel="icon"
        href="https://webstockreview.net/images/marijuana-clipart-hemp-1.png"
        type="image/x-icon">
</head>

<body>
    <header>
        <h1>UnPuffd</h1>
        <div>
            <nav>
                <ul>
                    {{#if logged_in}}
                    <li><a class="dashboard" href="/dashboard">Dashboard</a></li>
                    <li><a class="reviews" href="/reviews">My Reviews</a></li>
                    <li><a id="logout" href="/logout">Logout</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <h4>UnPuffd © 2022 <a class="link" href="https://github.com/coding-p2-g2/unpuffd.git">Github Repository</a></h4>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>