<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Unpuffd</title>
</head>
<body>
   <header>
       <h1>UnPuffd</h1>
        <div>
           <nav>
               <ul>
                    {{#if logged_in}}
                    <li><a class="reviews" href="/myreviews">My Reviews</a></li>
                   <li><a class="dashboard" href="/dashboard">Dashboard</a></li>
                   <li><button class="btn-no-style" id="logout">Logout</button></li>
                   {{else}}
                   <li><a class="login" href="/login">Login/Signup</a></li>
                   {{/if}}
               </ul>
           </nav>
       </div>
   </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
      
    </footer>
   {{#if logged_in}} 
   <script src="/js/logout.js"></script>
   {{/if}}
</body>
</html>