<div class="box">
    <h3>Age Verification</h3>
    <p>By clicking enter, I certify that I am over the age of 21.</p>

    <a href="/homepage" class="btn btn-alpha" id="refresh-page">ENTER</a>

    <p class="decor-line"><span>Or</span></p>

    <a href="/exit" class="btn btn-beta" id="reset-session">EXIT</a>

    <p class="decor-line"><span>Always enjoy responsibily.</span></p>
</div>