<div class="row forms">
    <div class="col-md-6">
        <h2>Leave a Review</h2>

        <form class="form review-form">
            <div class="form-group">
                <label for="strain-choosen">Strain</label>
                <input class="form-input" type="number" id="strain" />
            </div>
            <div class="form-group">
                <label for="strain-rating">Rating</label>
                <input class="form-input" type="text" id="rating" />
            </div>
            <div class="form-group">
                <label for="strain-comment">Comment</label>
                <input class="form-input" type="text" id="comment" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit Review</button>
            </div>
        </form>
    </div>

<script src="/js/add-review.js"></script>