
{{#if strains.length}}
<div>
    {{#each strains as |strain|}}
    {{!-- {{> post-info post }} --}}
    <section class="card">
        <a href="/api/strains/{{id}}">
            <header>{{strain_name}}</header>
            <img href="{{img}}" alt="{{strain_name}}">
        </a>
    </section>
    {{/each}}
</div>
{{/if}}


