<div class="select-strain"><h2>SELECT ONE STRAIN TO VIEW REVIEWS</h2></div>
<section class="container">
    {{#if strains.length}}
    {{#each strains as |strain|}}
    <section class="card">
        <a href="/strains/{{id}}">
            <header>{{strain_name}}</header>
            <div class="card-body"></div>
            <img src="{{img}}" alt="{{strain_name}}">
            </div>
        </a>
    </section>
    {{/each}}
{{/if}}
</section>



