<div class="homepage">
    <div class="welcome-box">
    <h3>WELCOME TO UNPUFFD</h3>
</div>
<div class="about">
    <p>UnPuffd provides a platform for users to learn and review various cannabis strains. We provide a basic summary of each strain including usage, aroma, and much more. Login or signup to start reviewing your favorite cannabis strains.</p>
    <ul>
        <li><a class="login" href="/login">Login/Signup</a></li>
    </ul>
</div>
</div>
