{{#if reviews.length}}
<div>
      {{#each reviews as |review|}}
      <div class="card">
            <h3>{{strain_name}}</h3>
            <p>Rating: {{rating}}</p>
            <p>{{comment}}</p>
            <p>{{format_date date_created}}</p>
      </div>
      {{/each}}
</div>
{{/if}}